
BuilderDesign/.vs/BuilderDesign/v16/.suo
BuilderDesign/.vs/BuilderDesign/v16/.suo
BuilderDesign/.vs/BuilderDesign/v16/.suo
BuilderDesign/.vs/BuilderDesign/v16/.suo
*.v2
BuilderDesign/.vs/BuilderDesign/v16/.suo
*.cache
BuilderDesign/.vs/BuilderDesign/v16/.suo
*.dll
*.json
*.pdb
*.exe
*.txt
BuilderDesign/.vs/BuilderDesign/v16/.suo
BuilderDesign/.vs/BuilderDesign/v16/.suo
BuilderDesign/.vs/BuilderDesign/v16/.suo
